<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-icon style="font-size: 30px" name="menu"></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <form [formGroup]="passengerForm" (ngSubmit)="valid()">
          <ion-row>
            <ion-col size="4"
              ><ion-item>
                <ion-label position="floating"
                  >Name<ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  formControlName="name"
                  required
                  type="text"
                ></ion-input> </ion-item
            ></ion-col>
            <ion-col size="4"
              ><ion-item>
                <ion-label position="floating"
                  >Trips<ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  formControlName="trips"
                  required
                  type="text"
                ></ion-input> </ion-item
            ></ion-col>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">Airline</ion-label>
                <ion-select
                  formControlName="airline"
                  placeholder="Seleccione una aerolinea"
                >
                  <ion-select-option
                    *ngFor="let airline of airlines;let i = index"
                    [value]="airline.id"
                    >{{airline.name}}</ion-select-option
                  >
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-button
            block
            color="primary"
            type="submit"
            [disabled]="passengerForm.invalid"
            >Agregar
          </ion-button>
        </form>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
