.delete {
  position: absolute;
  top: 20px;
  right: 10px;
  --background: #fff;

  ion-icon {
    color: red;
  }
}
.update {
  position: absolute;
  top: 70px;
  right: 10px;
  --background: rgb(224, 173, 21);

  ion-icon {
    color: #fff;
  }
}
