<ion-header>
  <ion-toolbar
    ><ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-icon style="font-size: 30px" name="menu"></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
    <div class="ion-page" id="main-content">
      <ion-content class="ion-padding"> </ion-content>
    </div>
    <ion-title>Lista de pasajeros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  ><ion-grid>
    <ion-row>
      <ion-col size="2"> </ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-label position="floating">Ingrese el ID del pasajero</ion-label>
          <ion-input [(ngModel)]="id" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2"> </ion-col>
      <ion-col size="3"> </ion-col>
      <ion-col size="6" class="flex-center">
        <ion-button (click)="searchById()"> Buscar </ion-button>
        <ion-button (click)="clean()"> Limpiar </ion-button>
      </ion-col>
      <ion-col size="3"> </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col
        sizeMd="6"
        sizeSm="12"
        sizeXs="12"
        size="12"
        *ngFor="let passenger of passengers;let i = index"
      >
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle
              >{{passenger.trips}} viajes | {{passenger._id}}</ion-card-subtitle
            >
            <ion-card-title>{{i+1}}. {{passenger.name}}</ion-card-title>
          </ion-card-header>
          <p style="padding-left: 16px; font-weight: bold">
            {{passenger.airline[0].name}}
          </p>
          <ion-button class="delete" (click)="confirmDelete(passenger._id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button
            class="update"
            [routerLink]="['/passenger-create', passenger._id]"
          >
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    "
  >
    <ion-button (click)="getFirst()"> Primera Pagina </ion-button>
    <ion-button (click)="getBack()">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
    {{page+1}}
    <ion-button (click)="getNext()">
      <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
    </ion-button>
    <ion-button (click)="getLast()"> Ultima Pagina </ion-button>
  </div>
</ion-content>
