<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-icon style="font-size: 30px" name="menu"></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Lista de aerolineas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2"> </ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-label position="floating"
            >Ingrese el ID de la aerolinea</ion-label
          >
          <ion-input [(ngModel)]="id" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2"> </ion-col>
      <ion-col size="3"> </ion-col>
      <ion-col size="6" class="flex-center">
        <ion-button (click)="searchById()"> Buscar </ion-button>
        <ion-button (click)="clean()"> Limpiar </ion-button>
      </ion-col>
      <ion-col size="3"> </ion-col>
    </ion-row>
  </ion-grid>
  <div class="container">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col class="bold">#</ion-col>
          <ion-col></ion-col>
          <ion-col class="flex-center bold">Name</ion-col>
          <ion-col class="flex-center bold">Country</ion-col>
          <ion-col class="flex-center bold">Slogan</ion-col>
          <ion-col class="flex-center bold">Website</ion-col>
          <ion-col class="flex-center bold">Year of established</ion-col>
        </ion-row>
        <ion-row *ngFor="let airline of airlines;let i = index">
          <ion-col class="bold">{{i+1}}</ion-col>
          <ion-col
            ><ion-avatar> <img [src]="airline.logo" /> </ion-avatar
          ></ion-col>
          <ion-col class="flex-center border"> {{airline.name}} </ion-col>
          <ion-col class="flex-center border"> {{airline.country}} </ion-col>
          <ion-col class="flex-center border"> {{airline.slogan}} </ion-col>
          <ion-col class="flex-center border"> {{airline.website}} </ion-col>
          <ion-col class="flex-center border">
            {{airline.established}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
