<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-icon style="font-size: 30px" name="menu"></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Agregar nueva aerolinea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <form [formGroup]="airlineForm" (ngSubmit)="addAirline()">
          <ion-row>
            <ion-col size="1">
              <ion-item>
                <ion-label position="floating">ID</ion-label>
                <ion-input
                  [attr.disabled]="true"
                  formControlName="id"
                  required
                  type="text"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"
              ><ion-item>
                <ion-label position="floating"
                  >Name<ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  formControlName="name"
                  required
                  type="text"
                ></ion-input> </ion-item
            ></ion-col>
            <ion-col size="4"
              ><ion-item>
                <ion-label position="floating"
                  >Country<ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  formControlName="country"
                  required
                  type="text"
                ></ion-input> </ion-item
            ></ion-col>
            <ion-col size="4"
              ><ion-item>
                <ion-label position="floating"
                  >Logo<ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  formControlName="logo"
                  required
                  type="text"
                ></ion-input> </ion-item
            ></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3"
              ><ion-item>
                <ion-label position="floating"
                  >Slogan<ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  formControlName="slogan"
                  required
                  type="text"
                ></ion-input> </ion-item
            ></ion-col>
            <ion-col size="3"
              ><ion-item>
                <ion-label position="floating"
                  >Head Quaters<ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  formControlName="head_quaters"
                  required
                  type="text"
                ></ion-input> </ion-item
            ></ion-col>
            <ion-col size="3"
              ><ion-item>
                <ion-label position="floating"
                  >Website<ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  formControlName="website"
                  required
                  type="text"
                ></ion-input> </ion-item
            ></ion-col>
            <ion-col size="3"
              ><ion-item>
                <ion-label position="floating"
                  >Established<ion-text color="danger">*</ion-text></ion-label
                >
                <ion-input
                  formControlName="established"
                  required
                  type="text"
                ></ion-input> </ion-item
            ></ion-col>
          </ion-row>

          <ion-button
            block
            color="primary"
            type="submit"
            [disabled]="airlineForm.invalid"
            >Agregar
          </ion-button>
        </form>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
